#                                         Pre-processing of T20 World Cup JSON Files

**Our Goal is to connect all the csv files with each other using a key, here that key is match_id that is based on scorecard or unique T20 Match ID of each match**

In [23]:
#import necessary files
import json
import pandas as pd

**Pre-Processing match result file and convert it into csv file**

In [2]:
with open('t20_json_files/t20_world_cup_match_results.json','r') as file:
    data = json.load(file)

In [3]:
df = pd.DataFrame(data[0]['matchSummary'])

In [4]:
df.head(10)

,team 1,team 2,winner,margin,ground,matchDate,scorecard
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
5,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
6,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
7,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
8,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
9,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861

In [5]:
df.shape

(42, 7)

In [6]:
df.rename({'scorecard':'match_id'},axis=1,inplace=True)

In [7]:
df.head()

,team 1,team 2,winner,margin,ground,matchDate,match_id
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872

In [25]:
df.to_csv('t20_csv_files/match_result.csv',index=False)

**PreProcessing batting summary files and converting it into csv file**

In [17]:
match_ids_dict = {}
for index,row in df.iterrows():
    key1 = row['team 1'] + ' vs ' + row['team 2']
    key2 = row['team 2'] + ' vs ' + row['team 1']

    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [8]:
with open('t20_json_files/t20_wc_batting_scorecard.json','r') as file:
    data = json.load(file)

batting_scorecard_frame = []

for r in data:
    batting_scorecard_frame.extend(r['battingSummary'])

df_batting_frame = pd.DataFrame(batting_scorecard_frame)

df_batting_frame.head(20)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Pakistan vs England,Pakistan,1,Mohammad Rizwan †,b Curran,15,14,0,1,107.14
1,Pakistan vs England,Pakistan,2,Babar Azam (c),c & b Rashid,32,28,2,0,114.28
2,Pakistan vs England,Pakistan,3,Mohammad Haris,c Stokes b Rashid,8,12,1,0,66.66
3,Pakistan vs England,Pakistan,4,Shan Masood,c Livingstone b Curran,38,28,2,1,135.71
4,Pakistan vs England,Pakistan,5,Iftikhar Ahmed,c †Buttler b Stokes,0,6,0,0,0.00
5,Pakistan vs England,Pakistan,6,Shadab Khan,c Woakes b Jordan,20,14,2,0,142.85
6,Pakistan vs England,Pakistan,7,Mohammad Nawaz,c Livingstone b Curran,5,7,0,0,71.42
7,Pakistan vs England,Pakistan,8,Mohammad Wasim,c Livingstone b Jordan,4,8,0,0,50.00
8,Pakistan vs England,Pakistan,9,Shaheen Shah Afridi,not out,5,3,1,0,166.66
9,Pakistan vs England,Pakistan,10,Haris Rauf,not out,1,1,0,0,100.00
10,Pakistan vs England,England,1,Jos Buttler (c)†,c †Mohammad Rizwan b Haris Rauf,26,17,3,1,152.94
11,Pakistan vs England,England,2,Alex Hales,b Shaheen Shah Afridi,1,2,0,0,50.00
12,Pakistan vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
13,Pakistan vs England,England,4,Ben Stokes,not out,52,49,5,1,106.12
14,Pakistan vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
15,Pakistan vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
16,Pakistan vs England,England,7,Liam Livingstone,not out,1,1,0,0,100.00
17,India vs England,India,1,KL Rahul,c †Buttler b Woakes,5,5,1,0,100.00
18,India vs England,India,2,Rohit Sharma (c),c Curran b Jordan,27,28,4,0,96.42
19,India vs England,India,3,Virat Kohli,c Rashid b Jordan,50,40,4,1,125.00

In [9]:
df_batting_frame['out/not_out'] = df_batting_frame['dismissal'].apply(lambda x : "not out" if 'not out' in x else "out")

In [10]:
df_batting_frame.head(5)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Pakistan vs England,Pakistan,1,Mohammad Rizwan †,b Curran,15,14,0,1,107.14,out
1,Pakistan vs England,Pakistan,2,Babar Azam (c),c & b Rashid,32,28,2,0,114.28,out
2,Pakistan vs England,Pakistan,3,Mohammad Haris,c Stokes b Rashid,8,12,1,0,66.66,out
3,Pakistan vs England,Pakistan,4,Shan Masood,c Livingstone b Curran,38,28,2,1,135.71,out
4,Pakistan vs England,Pakistan,5,Iftikhar Ahmed,c †Buttler b Stokes,0,6,0,0,0.00,out

In [11]:
df_batting_frame.drop('dismissal',axis=1,inplace=True)

In [12]:
df_batting_frame['batsmanName'] = df_batting_frame['batsmanName'].apply(lambda x : x.replace('\u2020',''))
df_batting_frame['batsmanName'] = df_batting_frame['batsmanName'].apply(lambda x : x.replace('(c)',''))

In [18]:
df_batting_frame.head(20)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Pakistan vs England,Pakistan,1,Mohammad Rizwan,15,14,0,1,107.14,out
1,Pakistan vs England,Pakistan,2,Babar Azam,32,28,2,0,114.28,out
2,Pakistan vs England,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out
3,Pakistan vs England,Pakistan,4,Shan Masood,38,28,2,1,135.71,out
4,Pakistan vs England,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out
5,Pakistan vs England,Pakistan,6,Shadab Khan,20,14,2,0,142.85,out
6,Pakistan vs England,Pakistan,7,Mohammad Nawaz,5,7,0,0,71.42,out
7,Pakistan vs England,Pakistan,8,Mohammad Wasim,4,8,0,0,50.00,out
8,Pakistan vs England,Pakistan,9,Shaheen Shah Afridi,5,3,1,0,166.66,not out
9,Pakistan vs England,Pakistan,10,Haris Rauf,1,1,0,0,100.00,not out
10,Pakistan vs England,England,1,Jos Buttler,26,17,3,1,152.94,out
11,Pakistan vs England,England,2,Alex Hales,1,2,0,0,50.00,out
12,Pakistan vs England,England,3,Phil Salt,10,9,2,0,111.11,out
13,Pakistan vs England,England,4,Ben Stokes,52,49,5,1,106.12,not out
14,Pakistan vs England,England,5,Harry Brook,20,23,1,0,86.95,out
15,Pakistan vs England,England,6,Moeen Ali,19,13,3,0,146.15,out
16,Pakistan vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not out
17,India vs England,India,1,KL Rahul,5,5,1,0,100.00,out
18,India vs England,India,2,Rohit Sharma,27,28,4,0,96.42,out
19,India vs England,India,3,Virat Kohli,50,40,4,1,125.00,out

In [19]:
df_batting_frame['match_id'] = df_batting_frame['match'].map(match_ids_dict)

In [20]:
df_batting_frame.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan vs England,Pakistan,1,Mohammad Rizwan,15,14,0,1,107.14,out,T20I # 1879
1,Pakistan vs England,Pakistan,2,Babar Azam,32,28,2,0,114.28,out,T20I # 1879
2,Pakistan vs England,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out,T20I # 1879
3,Pakistan vs England,Pakistan,4,Shan Masood,38,28,2,1,135.71,out,T20I # 1879
4,Pakistan vs England,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out,T20I # 1879

In [22]:
df_batting_frame.to_csv('t20_csv_files/batting_scorecard.csv',index=False)

**Preprocess Batting Summary and convert it into csv file**

In [33]:
with open('t20_json_files/t20_wc_bowling_scorecard.json','r') as file:
    data = json.load(file)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])

In [44]:
df_bowling_frame = pd.DataFrame(data=all_records)
df_bowling_frame.head(10)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Pakistan vs England,England,Ben Stokes,4,0,32,1,8.00,6,1,0,2,1
1,Pakistan vs England,England,Chris Woakes,3,0,26,0,8.66,7,2,1,2,0
2,Pakistan vs England,England,Sam Curran,4,0,12,3,3.00,15,0,0,0,0
3,Pakistan vs England,England,Adil Rashid,4,1,22,2,5.50,10,1,0,1,0
4,Pakistan vs England,England,Chris Jordan,4,0,27,2,6.75,9,3,0,0,0
5,Pakistan vs England,England,Liam Livingstone,1,0,16,0,16.00,1,1,1,1,0
6,Pakistan vs England,Pakistan,Shaheen Shah Afridi,2.1,0,13,1,6.00,6,1,0,0,0
7,Pakistan vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
8,Pakistan vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
9,Pakistan vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0

In [48]:
df_bowling_frame['match_id'] = df_bowling_frame['match'].map(match_ids_dict)

In [54]:
df_bowling_frame.tail(5)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
495,Namibia vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0,T20I # 1823
496,Namibia vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0,T20I # 1823
497,Namibia vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0,T20I # 1823
498,Namibia vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0,T20I # 1823
499,Namibia vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0,T20I # 1823

In [55]:
df_bowling_frame.to_csv('t20_csv_files/bowling_scorecard.csv',index=False)